#App {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#crawler-output {
  margin-inline: var(--margin-sm);
}

#crawler-output-header {
  margin-block: var(--space-sm);
  font-weight: 800;
  margin-top: var(--space-md);
}

.full-width {
  width: var(--full-width);
}

.h1 {
  font-size: var(--size-xl);
  margin-block: 1rem;
  text-align: center;
  font-weight: 800;
}
